In [1]:
import pandas as pd

In [2]:
df = pd.read_excel('./peter_data.xlsx')

In [3]:
df.head()

,Product Family,Product Brand Name,Sold To,Sold To Customer,Sold To City,Sold To State,Ship To,Ship To Customer,Ship To City,Ship To State,...,Selling Commission,Bill As Discount,Cash Discount,Rebates,Invoice Adjustments,Net Invoice,Freight Cost,Inventory Cost,Product Cost,Margin
0,Weed,Dandelion,501945,Sold To : DP,HOUSTON,TX,10436,Ship To : 256,HOUSTON,TX,...,0.0,0.0,-808.86,-7006.82,0,95534.4956,-13168.7612,-1013.81,-58571.6844,22780.2400
1,Hardwood,Ash,524099,Sold To : CE,APPLETON,WI,90361,Ship To : 237,Plymouth,MN,...,0.0,0.0,-124.15,0.00,0,15523.7941,-1344.5682,-181.79,-11527.7284,2469.7075
2,Hardwood,Ash,501832,Sold To : CF,SUSSEX,WI,90345,Ship To : 240,MENOMONEE FALLS,WI,...,0.0,0.0,-212.72,-2966.00,0,22073.5218,-2277.1398,-182.34,-18449.7676,1164.2744
3,Hardwood,Ash,501214,Sold To : CN,LONG PRAIRIE,MN,501214,Ship To : 256,LONG PRAIRIE,MN,...,0.0,0.0,-17.27,-149.99,0,1875.3078,-184.5658,-14.87,-1424.3996,251.4724
4,Hardwood,Ash,526181,Sold To : X,SCOTTSDALE,AZ,15155,Ship To : 320,PICKERING,ON,...,0.0,0.0,0.00,0.00,0,25176.3332,-3220.9564,-163.02,-16242.7668,5549.5900

In [10]:
df.sort_values(by=['Margin'])loc()

,Product Family,Product Brand Name,Sold To,Sold To Customer,Sold To City,Sold To State,Ship To,Ship To Customer,Ship To City,Ship To State,...,Selling Commission,Bill As Discount,Cash Discount,Rebates,Invoice Adjustments,Net Invoice,Freight Cost,Inventory Cost,Product Cost,Margin
544,Grass,Bluegrass,501080,Sold To : M,MIAMI,FL,501906,Ship To : 40,Gothenburg,002,...,0.00,0.0,-7840.81,0.00,0,1.055104e+06,-170726.0190,-14807.69,-1.051720e+06,-182149.6580
37,Hardwood,Birch,501080,Sold To : M,MIAMI,FL,90852,Ship To : 41,Leatherhead,SY,...,0.00,0.0,-5789.99,0.00,0,7.886429e+05,-140263.9322,-8048.51,-7.754138e+05,-135083.3684
910,Softwood,Pine,523741,Sold To : CM,GREENVILLE,SC,91685,Ship To : 234,Levent,37,...,-2.51,0.0,-2536.99,0.00,0,3.380514e+05,-52017.8122,-5880.47,-3.489691e+05,-68816.0384
382,Hardwood,Hickory,501145,Sold To : DI,Dixon,IL,501145,Ship To : 315,DIXON,IL,...,0.00,0.0,-6721.37,-54080.72,0,7.562455e+05,-92316.4764,-8362.43,-7.089842e+05,-53417.5708
559,Grass,Bluegrass,501080,Sold To : M,MIAMI,FL,83181,Ship To : 127,Mexico DF,DF,...,0.00,0.0,-3420.58,0.00,0,4.814344e+05,-101688.8380,-6511.83,-4.106589e+05,-37425.1360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1328,Fruit Trees,Apple,501445,Sold To : DP,Pewaukee,WI,526400,Ship To : 98,Milton,WI,...,-9251.46,0.0,-1776.47,0.00,0,2.220963e+05,-21445.5880,-2206.91,-1.339098e+05,64533.9650
581,Grass,Bluegrass,501099,Sold To : P,DALLAS,TX,501250,Ship To : 240,JONESBORO,AR,...,-20196.79,0.0,-3878.20,0.00,0,4.832446e+05,-62194.4736,-3973.21,-3.471622e+05,69914.7108
1192,Fruit Trees,Apple,501806,Sold To : H,NILES,IL,14153,Ship To : 294,TEUTOPOLIS,IL,...,0.00,0.0,-4468.56,-9918.19,0,5.542798e+05,-52157.3844,-5207.14,-3.892153e+05,107700.0000
73,Hardwood,Oak,525036,Sold To : J,NEW YORK,NY,501493,Ship To : 262,WHEELING,IL,...,0.00,0.0,-3295.70,0.00,0,4.054834e+05,-36366.4744,-3198.54,-2.538308e+05,112087.6250
410,Grass,Bluegrass,501198,Sold To : AK,HUDSON,OH,526085,Ship To : 300,CARROLLTON,TX,...,-20502.01,0.0,-3936.80,-860.52,0,4.995736e+05,-40089.6632,-3584.02,-3.161699e+05,139730.0150

In [26]:
df.iloc[:,[0,1,3,5,10,11,24,37]].sort_values(by='Margin / Ton',ascending=False)[:10]

,Product Family,Product Brand Name,Sold To Customer,Sold To State,Mode of Transportation,Tons,Margin / Ton,Margin
1130,Softwood,Spruce,Sold To : DB,NY,Intermodal,20.35,866.356757,17630.3600
1309,Fruit Trees,Apple,Sold To : DD,BC,Less Than Truckload,5.77,818.089064,4720.3739
1315,Fruit Trees,Apple,Sold To : DD,IN,Truckload,0.64,693.304375,443.7148
1065,Softwood,Pine,Sold To : DP,OH,Truckload,7.24,652.657459,4725.2400
980,Softwood,Pine,Sold To : BZ,ON,Less Than Truckload,2.88,632.552639,1821.7516
1385,Shrub,Agave,Sold To : I,IL,Truckload,43.40,627.613594,27238.4300
1298,Fruit Trees,Apple,Sold To : DD,ON,Truckload,1.39,622.933453,865.8775
1354,Fruit Trees,Apple,Sold To : AD,NY,Truckload,20.36,616.285363,12547.5700
1159,Fruit Trees,Pear,Sold To : F,OH,Truckload,19.58,604.489305,11835.9006
375,Hardwood,Oak,Sold To : DF,MA,Intermodal,21.19,597.735408,12666.0133

In [67]:
ddf = df.iloc[:,[3, 5, 11, 37]].groupby(by=['Sold To Customer']).sum()
ddf.loc[ (ddf['Margin']/ ddf['Tons'] ).sort_values(ascending=False).index]

                     Tons       Margin
Sold To Customer
Sold To : AD        20.36   12547.5700
Sold To : DF        21.19   12666.0133
Sold To : BI         4.66    2417.5062
Sold To : CZ         5.41    2803.1225
Sold To : AG         8.43    4306.7275
...                   ...          ...
Sold To : M       6097.57 -450448.5992
Sold To : DI       676.02  -53417.5708
Sold To : C        332.33  -45733.2932
Sold To : CM       778.09 -109343.6436
Sold To : AE        12.75   -3438.8000

[102 rows x 2 columns]

In [62]:
(ddf['Margin']/ ddf['Tons']).index

Index(['Sold To : A', 'Sold To : AB', 'Sold To : AC', 'Sold To : AD',
       'Sold To : AE', 'Sold To : AF', 'Sold To : AG', 'Sold To : AH',
       'Sold To : AJ', 'Sold To : AK',
       ...
       'Sold To : P', 'Sold To : Q', 'Sold To : R', 'Sold To : T',
       'Sold To : U', 'Sold To : V', 'Sold To : W', 'Sold To : X',
       'Sold To : Y', 'Sold To : Z'],
      dtype='object', name='Sold To Customer', length=102)

In [11]:
for k, n in enumerate(df.columns.tolist())

0 Product Family
1 Product Brand Name
2 Sold To
3 Sold To Customer
4 Sold To City
5 Sold To State
6 Ship To
7 Ship To Customer
8 Ship To City
9 Ship To State
10 Mode of Transportation
11 Tons
12 Gross Price / Ton
13 Customer Charged Freight / Ton
14 Upcharges / Ton
15 Selling Commission / Ton
16 Bill As Discount / Ton
17 Cash Discount / Ton
18 Rebates / Ton
19 Invoice Adjustments / Ton
20 Net Invoice / Ton
21 Freight Cost / Ton
22 Inventory Cost / Ton
23 Product Cost / Ton
24 Margin / Ton
25 Gross Price
26 Customer Charged Freight
27 Upcharges
28 Selling Commission
29 Bill As Discount
30 Cash Discount
31 Rebates
32 Invoice Adjustments
33 Net Invoice
34 Freight Cost
35 Inventory Cost
36 Product Cost
37 Margin