In [1]:
ss = '''Avatar Ahmed Yassine MokaddemAhmed Yassine Mokaddem	Ahmed-Yassine.Mokaddem@etu.univ-grenoble-alpes.fr	
Étudiant 
 	6 jours 20 heures	
Active   
	Avatar Aksel PerrigaultAksel Perrigault	Aksel.Perrigault@etu.univ-grenoble-alpes.fr	
Étudiant 
 	31 jours 10 heures	
Active   
	Avatar Alexis MilleretAlexis Milleret	Alexis.Milleret@etu.univ-grenoble-alpes.fr	
Étudiant 
 	17 heures 45 min	
Active   
	Avatar Arthur SantanacArthur Santanac	Arthur.Santanac@etu.univ-grenoble-alpes.fr	
Étudiant 
 	Jamais	
Active   
	Avatar Camille JenattonCamille Jenatton	Camille.Jenatton@etu.univ-grenoble-alpes.fr	
Étudiant 
 	2 jours 18 heures	
Active   
	Avatar Camille TouronCamille Touron	Camille.Touron@etu.univ-grenoble-alpes.fr	
Étudiant 
 	14 heures 51 min	
Active   
	Avatar Dorian VernetDorian Vernet	Dorian.Vernet@etu.univ-grenoble-alpes.fr	
Étudiant 
 	18 jours 18 heures	
Active   
	Avatar Gauthier HarengGauthier Hareng	Gauthier.Hareng@etu.univ-grenoble-alpes.fr	
Étudiant 
 	2 jours 16 heures	
Active   
	Avatar Gloria Paule Tiffani NziamboudiGloria Paule Tiffani Nziamboudi	Gloria.Nziamboudi@etu.univ-grenoble-alpes.fr	
Étudiant 
 	Jamais	
Active   
	Avatar Gregory Mc ShaneGregory Mc Shane	Greg.McShane@univ-grenoble-alpes.fr	
Enseignant 
 	47 s	
Active   
	Avatar Hugo CapuanoHugo Capuano	Hugo.Capuano@etu.univ-grenoble-alpes.fr	
Étudiant 
 	12 jours 22 heures	
Active   
	Avatar James PeakeJames Peake	James.Peake@etu.univ-grenoble-alpes.fr	
Étudiant 
 	19 heures 21 min	
Active   
	Avatar Léo QuercioliLéo Quercioli	Leo.Quercioli@etu.univ-grenoble-alpes.fr	
Étudiant 
 	1 heure 12 min	
Active   
	Avatar Liz VivotLiz Vivot	Liz.Vivot@etu.univ-grenoble-alpes.fr	
Étudiant 
 	11 jours 16 heures	
Active   
	Avatar Lucas SauvayreLucas Sauvayre	Lucas.Sauvayre@etu.univ-grenoble-alpes.fr	
Étudiant 
 	13 jours 19 heures	
Active   
	Avatar Océane BlanchardOcéane Blanchard	Oceane.Blanchard@etu.univ-grenoble-alpes.fr	
Étudiant 
 	12 heures 54 min	
Active   
	Avatar Robin RodriguezRobin Rodriguez	Robin.Rodriguez@etu.univ-grenoble-alpes.fr	
Étudiant 
 	50 jours 22 heures	
Active   
	Avatar Salem HaftariSalem Haftari	Salem.Haftari@etu.univ-grenoble-alpes.fr	
Étudiant 
 	19 heures 23 min	
Active   
	Avatar Sofiane DjerbiSofiane Djerbi	Sofiane.Djerbi@etu.univ-grenoble-alpes.fr	
Étudiant 
 	14 heures 7 min	
Active   
	Avatar Tanguy FreyconTanguy Freycon	Tanguy.Freycon@etu.univ-grenoble-alpes.fr	
Étudiant 
 	28 jours 1 heure	
Active   
	Avatar Theo BuissonTheo Buisson	Theo.Buisson1@etu.univ-grenoble-alpes.fr	
Étudiant 
 	70 jours 18 heures	
Active   
	Avatar Thomas CantoniThomas Cantoni	Thomas.Cantoni@etu.univ-grenoble-alpes.fr	
Étudiant 
 	19 heures 15 min	
Active   
	Avatar Valentin BlondyValentin Blondy	Valentin.Blondy@etu.univ-grenoble-alpes.fr	
Étudiant 
 	Jamais	
Active   
	Avatar Yinjie LiYinjie Li'''

In [2]:
import re

In [16]:
pp = re.compile('\t(.*?)@')

In [25]:
ss = ss.replace('\n\t','\n')

names = [ '{} {}'.format(y,x) for x,y in [t.split('.') for t in pp.findall(ss)]]
names.sort()
names

['Blanchard Oceane',
 'Blondy Valentin',
 'Buisson1 Theo',
 'Cantoni Thomas',
 'Capuano Hugo',
 'Djerbi Sofiane',
 'Freycon Tanguy',
 'Haftari Salem',
 'Hareng Gauthier',
 'Jenatton Camille',
 'McShane Greg',
 'Milleret Alexis',
 'Mokaddem Ahmed-Yassine',
 'Nziamboudi Gloria',
 'Peake James',
 'Perrigault Aksel',
 'Quercioli Leo',
 'Rodriguez Robin',
 'Santanac Arthur',
 'Sauvayre Lucas',
 'Touron Camille',
 'Vernet Dorian',
 'Vivot Liz']

In [26]:
import pandas as pd

In [27]:
df = pd.DataFrame({'name' : names, 'note': [0]*len(names)})

In [28]:
df

                      name  note
0         Blanchard Oceane     0
1          Blondy Valentin     0
2            Buisson1 Theo     0
3           Cantoni Thomas     0
4             Capuano Hugo     0
5           Djerbi Sofiane     0
6           Freycon Tanguy     0
7            Haftari Salem     0
8          Hareng Gauthier     0
9         Jenatton Camille     0
10            McShane Greg     0
11         Milleret Alexis     0
12  Mokaddem Ahmed-Yassine     0
13       Nziamboudi Gloria     0
14             Peake James     0
15        Perrigault Aksel     0
16           Quercioli Leo     0
17         Rodriguez Robin     0
18         Santanac Arthur     0
19          Sauvayre Lucas     0
20          Touron Camille     0
21           Vernet Dorian     0
22               Vivot Liz     0

In [29]:
df.to_excel('MAT2.xls')

In [30]:
pwd

'/home/macbuse/Documents/macbuse.github.io/PROG'